

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --white:#fff;
    --background:#f2f3f5;
    --gray-line:#DCDDE0;
    --text:#666666;
    --text-highlight:#b3b9ff;
    --title:#2e384d;
    --red:#E83f5b;
    --green:#4cd62B;
    --blue:#5965e0;
    --blue-dark:#4953b8;
    --blue-twitter:#2aa9e0;
}

@media(max-width: 1080px) {
    html {
        font-size:93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size:87.5%;
    }
}


body {
    background-color:var(--background);
    color:var(--text);
}

body, input, textarea, button {
    border: 0;

    font:400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color:inherit;
}


input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */


    /* Texto Azul */

    color:var(--text-highlight);
}
 
input, button {
    border: 2px solid var(--blue-dark);

}

input:focus, button:focus {
    outline: 0;
    border:2px solid var(--blue-twitter);
}
